* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p, a {
    font-family: 'Radio Canada', sans-serif;
}

.conteudo {
    margin: 0 auto;
}

.banner {
    height: 140px;
    background-color: black;
    text-align: center;
}

.menu {
    width: 100%;
    height: 70px;
    background-color: black;
    text-align: center;
}

.ul-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.lista-menu {
    float: left;
    border-right: 1px solid #fff;
}

